{
    box-sizing: border-box;
}
dl > div {
    background: #FFF;
    padding: 24px 0 0 0;
  }
dt{
    font-size: 2rem;
    height: 30px;
    position:sticky;
    top: 45px;
    font-weight: bold;
    background-color: #b7b7a4;
}
dd:before{
    content:"\260E   ";
}

dd{
    font-size: 1.5rem;
    letter-spacing: 0em;
    line-height: 3rem;
    font-weight: bolder;
    font-family:cursive;
    background-color: #d8e2dc;
}
h1 {
     color: #495057;
     text-align: center;
}
dd + dd {
        border-top: 1px solid #CCC;
      }